<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" maxRequestLength="40960" />
	 
  </system.web>
	<appSettings>
		<add key="PDFDownloadPath" value="C:\Users\Jithin\Desktop\" />
		<add key="ExcelDownloadPath" value="C:\Users\Jithin\Desktop\" />
		<!--Automatically Upload csv file-->
		<add key="Autoupload" value="false" />
		<add key="CsvUploadPath" value="C:\Users\Jithin\Desktop\Csvpath\csv.csv" /> <!--Configure if Autoupload is "True"  -->
		<!--Enable/Disable Specfic correspondents in the result -->
		<add key="CorrespondentSpecfic" value="true" />
		<add key="DesiredCorrespondents" value="10004,10001" />
		<add key="FirstPrizecount" value="2" /><!--First 2 records  -->
		<add key="SecondPrizeCount" value="4" /><!--Next 2 records  -->
		<add key="FirstPrizetxt" value="Iphone 15" />
		<add key="SecondPrizetxt" value="32'Toshiba Smart TV" /> <!--HTML Encoded value for 32'Toshiba Smart TV  -->
		<add key="ThirdPrizetxt" value="Shopping Vouchers" />
		<add key="ColourFirst" value="#FFD700" />
		<add key="ColourSecond" value="#9ACD32" />
	</appSettings>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>


	<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".aspx" mimeType="text/html" />
        </staticContent>
    </system.webServer>
</configuration>